.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* grid */
.grid-container{
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: 24px auto auto auto 24px;
  grid-template-rows: 6px auto 7px auto auto auto auto 10px;
  
}

.web-enable-container{
  grid-column: 2/5;
  grid-row: 2;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 10px;

    
}

.enable-text{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #A6A6A6;

}


.ziplabel{
  grid-column-start: 2;
  grid-row-start: 4;
  
}

.searchUnder{
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 4px;

}

.report-form-main{
  display: flex;
  grid-row-start: 7;
  grid-column: 2/5;
  justify-content: flex-start;
}



.fill-space{
  flex-grow: 1;
}

.back-button{
  border:none;
  background-color: transparent;
  text-emphasis-style: bold;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: whitesmoke;

}

.primary-button{
  text-emphasis-style: bold;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding:5px;
  border-radius: 10px;
  border:none;
  background-color: #0576DA;
  color:white;
  margin:10px;
  
}


.primary-button:hover{
  
  box-shadow: 0 0 0 2px #DDDDDD;
  outline: none;

}


.primary-button:active{
  
  box-shadow: 0 0 0 2px whitesmoke;
  outline: none;

}

.icon-btn{
  background-color: transparent;
  height: 22px;
  width:40px;
  margin:6px;
  background-size: contain;
  background-repeat: no-repeat;
  
  border:none

}

.icon-btn:hover, .danger-button:hover{
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #52a4ec ;
}

.remove-button{
  background-image: url(trash.png);
  
}



.edit-button{
  background-image: url(pen.png);
}


.back-button:hover{
  background-color: #0576DA;
  border-radius: 5px;
}

.back-button:active{
  background-color: #0576DA;
  border-radius: 5px;
  outline: none;
}

.multisearch-container{
  display:flex;
  flex-direction: column;
  grid-column: 2/5;
  grid-row-start: 5;
  border-radius: 10px;
  background-color: #DDDDDD;
  /* background-color: #606263; */

  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divider{
  height: 1px;
  background-color: rgba(245, 245, 245, 0.25);
  grid-column: 2/5;
  grid-row-start: 3;
  margin-top: 3px;
  margin-bottom:5px;

}

.multisearch-container.green-outline{
  box-shadow: 0 0 0 2px #52a4ec ;
  
  
}

.search-option-container.container-hidden{
  display: none;
}


.searchBar-container{
  display:flex;
  background-color: transparent;
  margin-right: 15px;
  height: 40px;

}

.zip-input{
  flex-grow: 1;
  border: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.2em;
  color: #4A4A4A;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  margin-left: 15px;
  padding-bottom: 5px;


}

.zip-input:focus{
  outline: rgba(0, 0, 0, 1);
  

}

.glass-icon{
  height: 25px;
  width: 25px;
  align-self: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  justify-self: end;

}
.glass-icon:active{
  outline: none;
}
.glass-icon:focus{
  outline: none;
}
.glass-icon.glass-grey{
  background-image: url(greyGlass.png);
}

.glass-icon.glass-green{
  background-image: url(greenGlass.png);
}

.glass-icon.glass-green:hover{
  background-image: url(greenGlassActive.png);
}
.glass-icon.glass-grey:hover{
  background-image: url(greyGlassActive.png);
}

.search-option-container{
  display: flex;
  flex-direction: column;
}

.savedOptions{
  display: grid;
  grid-template-columns: 56px 80px 80px auto;
  border: none;
  color: #4A4A4A;
  background-color: #DDDDDD;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 10px;
  padding:8px 12px 8px;
  text-align: left;

}

.option-name{
  display: block;
  margin-left: 8px;
  padding-left: 0px;
  text-align: left;
  padding-right: 5px;
  grid-column: 2/3;
  word-wrap: break-word;
  font-size: 14px;
}

.option-zip{
  display: block;
  text-align: left;
  grid-column-start: 3;
}

.savedIcon{
  height: 16px;
  width: 12px;
  margin-left: 36px;
  grid-column: 1/2;
  background-image: url(savedIcon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.savedOptions:hover{
  background-color: #C4C4C4;
  outline: none;

}

.savedOptions:active{
  background-color: #ACACAC;
  outline: none;
}

.rate-display{
  
  grid-column: 2/5;
  grid-row-start: 6;
  display: flex;
  flex-direction: column;
  

}

.report-form-container{
  grid-column: 1/6;
  grid-row: 1/9;
  z-index: 1000;
  background-color:#282B2E;
  padding: 24px;
}

.report-input{
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  
  padding:10px;

}

.edit-window{
  display: flex;
  flex-direction: column;
  grid-column: 1/6;
  grid-row: 1/9;
  z-index: 1000;
  background-color: #282B2E;
  padding: 24px;
}

.edit-header{
  display:flex;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 10px;
}

.edit-zip-card{
  display: grid;
  grid-template-columns: 16px 80px 120px auto 30px 30px 10px;
  grid-template-rows: 6px 20px 6px auto 10px auto 10px auto 6px ;
  background-color: #686A6E;
  border-radius: 10px;
  margin-bottom: 6px;
  /* padding:16px; */
}

.edit-save{
  grid-row-start: 8;
  grid-column-start: 5;
  grid-column-end: 7;
  margin:6px;
  border-radius: 5px;
  font-size: 14px;
  padding:5px;

}

.card-input{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border-radius: 5px;
  padding: 5px;
  border:none;
  align-self: center;

}
.card-input-readonly{
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: white;
  border: none;
  outline:none;
}



.button-icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 7;
}

.name-label{
  grid-row-start: 4;
  grid-column-start: 2;
  color: whitesmoke;
}

.name-input{
  grid-row-start: 4;
  grid-column-start: 3;
}

.zip-label{
  grid-row-start: 6;
  grid-column-start: 2;
  color: whitesmoke;
}

.zip-card-input{
  grid-row-start: 6;
  grid-column-start: 3;
}


.report{
  
  display: flex;
  flex-direction: column;
}

.process{
  width: 200;
  height: 200;
  align-self: center;
  justify-self: center;
  background-color: whitesmoke;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1005;
}

.process.process-invisible{
  display: none;

}


.text-lab{
  color:#DDDDDD;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;

}

.manage-zip-button{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  
  color: #0576DA;
  background-color: transparent;
  border: none;
  padding: 10px 10px 10px 20px;

  border-radius: 0px 0px 10px 10px;

}

.manage-zip-button:active{
  outline: none;
}

.manage-zip-button:hover{
  background-color: #C4C4C4;
}

.val{
  color: whitesmoke;
  grid-column-start: 2;
  
}

.display-row-1{
  grid-row-start:2;
}
.display-row-2{
  grid-row-start:4;
}


.rate-display{
  display: grid;
  
  grid-template-rows: 10px 20px 10px 20px 10px;
}

.inner-grid{
  display: grid;
  grid-template-columns: 130px auto 16px;
}


.small-label{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #A6A6A6;

}

.report-text{
  align-self: start;
}

.danger-button{
  border: none;
  color: red;
  text-emphasis-style: underline;
  background-color: transparent;
  text-emphasis-style: bold;
  font-size: 14px;

}


.shake {
  animation-name: shake;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
 
}

@keyframes shake {
  0% {
    padding-left: 0px;
  }
  50% {
    padding-left: 3px;
  }
  70% {
    padding-left: 1px;
  }
  100% {
    padding-left: 0px;
  }
}


