

/* .zipcodeForm {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.zipcodeForm input {
  width: 60vmin;
  height: 15vmin;

  padding: 1vmin;
  font-size: 10vmin;
  text-align: center;
  font-weight: normal;
  background: white;
  border: 1px solid #3e7fbb;
  color: #3e7fbb;
  border-radius: 0.1vmin;
}

.zipcodeForm input:focus {
  outline: none;
  border-radius: 0.1vmin;
}

.zipcodeForm .shake {
  animation-name: shake;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
 
}
.zipcodeForm label {
  font-size: 10vmin;
  color: #3e7fbb;
}

@keyframes shake {
  0% {
    padding: 1vmin 1vmin 1vmin 1vmin;
  }
  50% {
    padding: 1vmin 0.5vmin 1vmin 1.5vmin;
  }
  70% {
    padding: 1vmin 1.5vmin 1vmin 0.5vmin;
  }
  100% {
    padding: 1vmin 1vmin 1vmin 1vmin;
  }
}
.zipcodeForm label {
  font-size: 10vmin;
  color: #3e7fbb;
} */

/* Doanh Original code dont really know what going on */
