.switch {
  position: relative;
  display: inline-block;
  width: 6vmin;
  height: 3.4vmin;
}

.switch.tg-lab-small {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3vmin;
  box-shadow: inset 0px 0.2vmin 0.4vmin rgba(0, 0, 0, 0.3);
  background-color: #c1cdd7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.tg-small {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #c1cdd7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider.tg-small:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  top: 0%;
  bottom: 0%;
  border-radius: 50px;
  background: #f4f4f4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3.4vmin;
  width: 3.4vmin;
  left: 0px;
  top: 0%;
  bottom: 0%;
  border-radius: 4vmin;
  background: #f4f4f4;
  box-shadow: 0px 0.2vmin 0.2vmin rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: #52a4ec;
  box-shadow: inset 0px 0.2vmin 0.2vmin rgba(0, 0, 0, 0.3);
  border-radius: 4vmin;
}

input:checked + .slider.tg-small {
  background: #52a4ec;
  box-shadow: inset 0px 0.3vmin 0.3vmin rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.6vmin);
  -ms-transform: translateX(2.6vmin);
  transform: translateX(2.6vmin);
}

input:checked + .slider.tg-small:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

div.toggle {
  margin-top: 6px;
  /* margin-top: 10%;
  

  margin-bottom: 0.5%; */
}
