.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* grid */
.grid-container{
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: 24px auto auto auto 24px;
  grid-template-rows: 6px auto 7px auto auto auto auto 10px;
  background-color: F3F3F3;
}

.web-enable-container{
  grid-column: 2/5;
  grid-row: 2;
  display: flex;
  align-items: center;
  margin-bottom: 5px;

 
    
}

.ziplabel{
  grid-column-start: 2;
  grid-row-start: 4;
  
}

.searchUnder{
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 4px;

}

.report-form-main{
  display: flex;
  grid-row-start: 7;
  grid-column: 2/5;
}

#report-button{
  border: none;
  color: red;
  text-emphasis-style: underline;

}





.fill-space{
  flex-grow: 1;
}

.multisearch-container{
  display:flex;
  flex-direction: column;
  grid-column: 2/5;
  grid-row-start: 5;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divider{
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  grid-column: 2/5;
  grid-row-start: 3;
  margin-top: 3px;

}

.multisearch-container.green-outline{
  border: 2px solid #039D66;
}

.search-option-container.container-hidden{
  display: none;
}






.searchBar-container{
  display:flex;
  background-color: transparent;
  margin-right: 10px;
  
  height: 45px;

}

.zip-input{
  flex-grow: 1;
  border: none;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;

}

.zip-input:focus{
  outline: rgba(0, 0, 0, 1);
  

}

.glass-icon{
  height: 35px;
  width: 35px;
  align-self: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  justify-self: end;

}
.glass-icon:active{
  outline: none;
}
.glass-icon:focus{
  outline: none;
}
.glass-icon.glass-grey{
  background-image: url(greyGlass.png);
}

.glass-icon.glass-green{
  background-image: url(greenGlass.png);
}

.glass-icon.glass-green:hover{
  background-image: url(greenGlassActive.png);
}
.glass-icon.glass-grey:hover{
  background-image: url(greyGlassActive.png);
}

.search-option-container{
  display: flex;
  flex-direction: column;
}

.savedOptions{
  border: none;
  background-color: #FFFFFF;
}

.savedOptions:hover{
  background-color: #F0F0F0;
}

.savedOptions:active{
  background-color: #E0E0E0;
  outline: none;
}

.rate-display{
  grid-column: 2/5;
  grid-row-start: 6;
  display: flex;
  flex-direction: column;
  

}

.report-form-container{
  grid-column: 1/6;
  grid-row: 1/9;
  z-index: 1000;
  background-color: whitesmoke;
  padding: 24px;
}

.edit-window{
  grid-column: 1/6;
  grid-row: 1/9;
  
  z-index: 1000;
  background-color: whitesmoke;
  padding: 24px;
}

.report{
  
  display: flex;
  flex-direction: column;
}

.process{
  width: 200;
  height: 200;
  align-self: center;
  justify-self: center;
  background-color: whitesmoke;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1005;
}

.process.process-invisible{
  display: none;

}



